header{height:60px;}
section{height:700px;width:100%;}
.bottom{clear:both;margin:10px auto;text-align:center;padding:10px 0;line-height:25px;color:#666;border-top:#ddd 1px solid;}
.bottom a{margin:0 7px;color:#666;}
.bottom a:hover{color:#000;text-decoration:underline;}